Source: ros-kilted-robot-localization
Section: misc
Priority: optional
Maintainer: Tom Moore <ayrton04@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-dev, libeigen3-dev, libgeographiclib-dev, ros-kilted-ament-cmake, ros-kilted-ament-cmake-gtest <!nocheck>, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-angles, ros-kilted-builtin-interfaces, ros-kilted-diagnostic-msgs, ros-kilted-diagnostic-updater, ros-kilted-geographic-msgs, ros-kilted-geometry-msgs, ros-kilted-launch-ros <!nocheck>, ros-kilted-launch-testing-ament-cmake <!nocheck>, ros-kilted-message-filters, ros-kilted-nav-msgs, ros-kilted-rclcpp, ros-kilted-rosidl-default-generators, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-std-srvs, ros-kilted-tf2, ros-kilted-tf2-eigen, ros-kilted-tf2-geometry-msgs, ros-kilted-tf2-ros, ros-kilted-yaml-cpp-vendor, ros-kilted-ros-workspace, ros-kilted-rosidl-typesupport-fastrtps-c, ros-kilted-rosidl-typesupport-fastrtps-cpp
Homepage: http://ros.org/wiki/robot_localization
Standards-Version: 3.9.2

Package: ros-kilted-robot-localization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-dev, libeigen3-dev, libgeographiclib-dev, ros-kilted-angles, ros-kilted-builtin-interfaces, ros-kilted-diagnostic-msgs, ros-kilted-diagnostic-updater, ros-kilted-geographic-msgs, ros-kilted-geometry-msgs, ros-kilted-message-filters, ros-kilted-nav-msgs, ros-kilted-rclcpp, ros-kilted-rosidl-default-runtime, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-std-srvs, ros-kilted-tf2, ros-kilted-tf2-eigen, ros-kilted-tf2-geometry-msgs, ros-kilted-tf2-ros, ros-kilted-yaml-cpp-vendor, ros-kilted-ros-workspace
Description: Provides nonlinear state estimation through sensor fusion of an abritrary number of sensors.
